# Compiled Python files and cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE and OS files
.DS_Store
.vscode/
Thumbs.db
